<div class="container">
	<div class="row">
		<div class="text-center">
			<h2>ようこそ、CloudTimeへ!</h2>
			<%= image_tag'cloudtime.jpg', :size => '140x160' %>
			<p class="top-text"><br>
				CloudTimeはお手持ちのPCとインターネットだけで<br>簡単かつ高度な勤怠管理を行うクラウド型の勤怠管理システムです。<br><br>
			</p>
			<%= image_tag'image1.jpg', :size => '700x500' %><br>
			<p class="top-text"><br>
				打刻データがリアルタイムにブラウザ上で管理出来るので<br>「作業効率」と「コスト削減」の実現が可能となります。<br><br>
			</p>
		</div>
	</div>
</div>