<div class="container">
	<div class="row">
		<div class="text-center">
			<h2>の勤務表</h2>
			<%= form_for(@attendance_schedule, url: attendance_schedule_path, method: :post) do |f| %>
	    <table class="table table-bordered">
	    	<thead class="contents_title">
	    		<tr>
	    			<th>出勤時刻</th>
	    			<th>退勤時刻</th>
	    			<th>休憩開始</th>
	    			<th>休憩終了</th>
	    			<th>休暇申請</th>
	    		</tr>
	    	</thead>
	      <tbody>
	      	<tr>
	      		<td>：</td>
	      		<td>：</td>
	      		<td>：</td>
	      		<td>：</td>
	      		<td></td>
	      	</tr>
	    	</tbody>
	    </table>
	    <%= submit_tag "戻る", class:"btn btn-danger" %>　
	    <%= submit_tag "変更内容を申請", class:"btn btn-success" %>
	    <% end %>
		</div>
	</div>
</div>