<div class="row">
	<h2><span class="contents_title">管理者画面</span></h2>
</div>
<br>
<div class="row">
	<h3>
		現在の勤怠申請数　
		<%= link_to admins_applys_path do %><%= @count %>
		<% end %>
		件
	</h3>

</div>