/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-color: #f7f6e7;
}

.wrap {
  display: flex;
  justify-content: space-around;
    p {
      font-size: 20px;
      margin: 25% auto;
      letter-spacing: 0.05em;
      line-height: 200%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

#container{
  height: 500px;
}

.top-text {
  font-size: 18px
}

.nav-link {
  color: black;
}

.admin-message {
  padding: 25px 0px 0px 150px;
}

.user-message {
  padding: 25px 0px 0px 150px;
}

.guest-message {
  padding: 25px 0px 0px 150px;
}

header {
  font-size: 16px;
  background-color: goldenrod;
}

.header_button {
  padding-top: 15px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header_button::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header_button:hover::after {
  transform: scale(1, 1);
}

.header_button:hover {
  opacity: 0.5;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #c1c0b9;
}

p#RealtimeClockArea1 {
  font-size: 50px
}

p#RealtimeClockArea2 {
  font-size: 100px
}

.btn {
white-space: normal;
}

.sat {
  color: #0000ff;
}

.table th {
  font-size: 15px;
  text-align: center;
}

.table td {
  font-size: 15px;
}

.contents_title {
  background-color: #c1c0b9;
}

.contents_body {
  background-color: #f9f9f9;
}

input[type="text"] {
  width: 200px;
  height: 30px;
}

input[type="email"] {
  width: 200px;
  height: 30px;
}

input[type="password"] {
  width: 200px;
  height: 30px;
}

.attendance_btn {
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.75);/*アイコン色*/
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
.attendance_btn i {
  vertical-align: middle;
  line-height: 35px;
}
.attendance_btn:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}