// Place all the styles related to the users/attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
	font-size: 20px;
}